*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align:center;
    color: aliceblue;
}

body{
    background: rgb(15,20,35);
}

.container{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

a{
    color: rgb(100, 200, 247);
}

a:focus{
    color: aliceblue;
}

article{
    color: aliceblue;
    width: 100%;
    top: 100%;
    left: 8%;
    font-size: x-large;
    position: relative;  
    font-family: sans-serif;
}

.block{
    position: relative;
    top: 15%;
    left: 30%;
    width: 40%;
}

@media screen and (max-width: 790px){
    .block{
    left: 0;
    width: 97%;
    height: 97%;
    }
}