
body{
    background: rgb(15,20,35);
}

article{
    color: aliceblue;
    max-width: 68%;
    top: 100%;
    left: 23%;
    font-size: larger;
    position: relative;  
}

.block{
    position:relative;
    top: 15%;
    left: 16.4%;
    width: 60%;
}

.container{
    text-align: center;
    left: 6%;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;    
}

#Pics{
    position: relative;
    left: 0;
    width: 100%
}

#Pics1{
    position: absolute;
    left: -45%;
    width: 190%;
}

#Sprite1{
    position:absolute;
    width: 100%;
    left:-30%;     
}

#Sprite2{
    position:absolute;
    width: 100%;
    top: 10%;
    left: 24%;
}

.imagecontainer{
    height: 50%;
}

a{
    color: rgb(100, 200, 247);
}

a:focus{
    color: aliceblue;
}

audio{
    position: relative;
    left: 22%; 
}

@media screen and (max-width: 530px){
    .block{
    left: 0;
    width: 97%;
    height: 97%;
    }
}